
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
    background: linear-gradient(328deg, rgba(68,70,67,1) 0%, rgba(210,218,222,1) 52%, rgba(72,74,78,1) 100%);
}
#canvas{
    border: 3px solid rgb(32, 31, 31);
    background-color:white
}

.upPanel{
    width: 800px;
    height: auto;
    border: 3px solid rgb(32, 31, 31);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(58, 56, 56);
}
#paintItem{
    width: 270px;
}
.icons{
    color:white;
    margin-left: 10px;
}
.icons:hover{
    filter: drop-shadow( 0 0 5px white);
}
.color-item{
    width: 20px;
    height: 20px;
    border: 2px solid rgb(32, 31, 31);
    border-radius: 100%;
    margin: 2px;
}
.color-item-picked{
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 100%;
    margin: 2px;
}
#color{
    display: flex;
    width: 270px;
}

#numberMinus{
    background-color: rgb(32, 31, 31);
    border-radius: 3px;
    color: white
}
#numberPlus{
    background-color: rgb(32, 31, 31);
    border-radius: 3px;
    color: white
}

#footer{
    width: 800px;
    height: 20px;
    border: 3px solid rgb(32, 31, 31);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(58, 56, 56);
    color: white
}